
.accordion {
    margin-left: auto;
    margin-right: auto;

    width: 80%;
}
.badge{
    color: azure;
    background-color:lightskyblue;
}
#ban{
    color: #fdf9d9;
    background-color: #ac3a31;
}
#system{
    color: yellow;
    background-color: red;
}
.contentContainer{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}



body{
    height: 100%;
}
#logo{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}